<div class="reply" id="reply-<%= reply.id %>">
  <p>
    <b><%= User.find(reply.user_id).username %></b>
    <% if reply.updated_at != reply.created_at %>
      <i>(edited)</i>
    <% end %>
  </p>

  <p><%= reply.body %></p>

  <p>
    (score)
    <% if user_signed_in? && reply.user_id == current_user.id %>
      | <%= link_to image_tag("icons/edit-2-fill.svg", class: "icon"), edit_reply_path(reply), remote: true %>
      | <%= link_to image_tag("icons/delete-bin-fill.svg", class: "icon"), reply_path(reply), method: :delete, data: { confirm: "Delete this reply?" } %>
    <% end %>
  </p>
</div>
