<main>
  <div class="page devise-form user-edit-form">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), posts_path %>

    <h2>Account settings<!--Edit <%= resource_name.to_s.humanize %>--></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "deviseform", html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- BEGIN account-related info -->
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length && 1 == 0 # 150 IQ fix??? %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(required to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div><br>
      <!-- END account-related info -->

      <!-- BEGIN personalization-related settings -->
      <h3>Personalization</h3>

      <%= f.fields_for :settings do |settings| %>
        <div class="field">
          <%= settings.label :theme, "Dark mode" %>
          <%= settings.check_box :theme %> <!-- TODO: clean solution -->
        </div>

      <% end %>
      <!-- END personalization-related settings -->

      <div class="actions">
        <%= f.submit "Update account" %>
      </div>
    <% end %>

    <div class="cancel-account-wrapper">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel-account-btn" %></p>
    </div>
  </div>
</main>
