<%= render 'shared/header' %>

<%= javascript_pack_tag 'user' %>

<main>
  <div class="page static">
    <%= render 'shared/back' %>
    <h2><%= @user.username %></h2>
    <p>Joined on <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.day %>, <%= @user.created_at.year %></p>
    <p><%= pluralize(@user.posts.count, 'post') %>, <%= pluralize(@user.reviews.count, 'review') %></p>

    <div class="tabs">
      <a class="tablink" id="poststab">Posts</a>
      <a class="tablink" id="reviewstab">Reviews</a>
    </div>

    <div class="user-posts">
      <% @user.posts.each do |post| %>
        <%= link_to post.title, post, class: "link" %><br>
      <% end %>
    </div>
    <div class="user-reviews">
      <% @user.reviews.each do |review| %>
        <%= link_to review.title, post_review_path(review.post_id,review.id), class: "link" %><br>
      <% end %>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</main>
