<%= render 'shared/header' %>

<%= javascript_pack_tag 'user' %>

<div class="maincontainer">
  <div class="page static">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), posts_path %>
    <h2><%= @user.username %></h2>
    <p>Joined on <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.day %>, <%= @user.created_at.year %></p>

    <div class="tabs">
      <button class="tablink" id="poststab">Posts</button>
      <button class="tablink" id="reviewstab">Reviews</button>
    </div>

    <div class="user-posts">
      <p><%= pluralize(@user.posts.count, 'post') %></p>
      <% @user.posts.each do |post| %>
        <%= post.title %><br>
      <% end %>
    </div>
    <div class="user-reviews">
      <p><%= pluralize(@user.reviews.count, 'review') %></p>
      <% @user.reviews.each do |review| %>
        <%= review.title %><br>
      <% end %>
    </div>
  </div>
</div>
