<header>
  <div class="header-left">
    <%= link_to "Sezme", posts_path, class: "cool-link" %>
  </div>

  <div class="header-middle"> <!-- pages -->
    <%= link_to "About", "/pages/about", class: "cool-link" %>
    <%= link_to "Welcome", "/pages/welcome", class: "cool-link" %>
  </div>

  <div class="header-right">
    <% if admin_signed_in? %>
      <%= link_to "Admin", destroy_admin_session_path, method: :delete, class: "cool-link" %> &nbsp;
    <% end %>
    <% if user_signed_in? %>
      <%= check_box_tag :navtoggle %>
      <%= label_tag :navtoggle do %>
        <%= current_user.username %> <%= image_tag("icons/arrow-drop-right-line.svg", class: "icon nav-icon") %>
      <% end %>
      <nav>
        <ul>
          <%= link_to user_path(current_user.username) do %>
            <li><%= image_tag("icons/account-circle-line.svg", class: "icon") %> Profile</li>
          <% end %>
          <%= link_to edit_user_registration_path do %>
            <li><%= image_tag("icons/settings-3-line.svg", class: "icon") %> Account settings</li>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <li><%= image_tag("icons/logout-box-r-line.svg", class: "icon") %> Log out</li>
          <% end %>
        </ul>
      </nav>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "loginbtn" %>
      <%= link_to "Sign up", new_user_registration_path, class: "signupbtn" %>
    <% end %>
  </div>
</header>
