<div class="show-post">
  <div class="post-info">
    <div class="post-title"><%= post.title %></div>
    <% if post.url && post.url != "" %>
      <div class="post-url">
        <%= link_to post.url, target: '_blank', class: 'link' do %>
          <%= truncate(post.url, :length => 50) %>
          <%= image_tag("icons/external-link-line.svg", class: 'icon') %>
        <% end %>
      </div>
    <% end %>
    <p>Rating: <b><%= Post.readablerating(post.id) %></b> | Posted by user <%= link_to @user.username, user_path(@user.username), class: 'link' %></p>
    <p><%= post.desc %></p>
    <p class="post-hit-count"><%= pluralize(post.hits, 'view') %></p>
  </div>

  <% if user_signed_in? && post.user_id == current_user.id %>
    <div class="side-btn">
      <%= link_to edit_post_path, class: "btn" do %>
        <%= image_tag("icons/edit-2-fill.svg", class: "icon") %> Edit
      <% end %>
    </div>
  <% end %>
</div>
