<div class="maincontainer">
  <div class="page form">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), post_path(params[:id]) %>
    <h2>Edit Topic Description</h2> <!-- TODO: add info explaining why you can't edit title -->

    <h3><%= @post.title %></h3>

    <p>Remember to describe your topic thoroughly and neutrally.</p>

    <%= form_with model: @post, class: "post-form" do |f| %>
      <div class="field">
        <%= f.text_area :desc, placeholder: "Describe it in a few sentences" %>
      </div>

      <%= f.hidden_field :rating %>

      <div class="field">
        <%= f.submit "Update Post", class: "form-submit" %>
      </div>
    <% end %>
  </div>
</div>
