<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page show">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), post_path(params[:id]) %>
    <h2>Edit Topic Description</h2>

    <h3><%= @post.title %></h3>

    <p>Remember to describe your topic thoroughly and neutrally.</p>

    <%= form_with model: @post, class: "styledform" do |f| %>
      <%= render "form", rating: @post.rating, submittext: "Update Post", form: f, title_editable: false %>
    <% end %>
  </div>

  <div class="sidebar">
    <p>edit page</p>
  </div>
</div>
