<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page show">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), post_path(params[:id]), class: "back-btn" %>
    <!-- TODO: add info explaining why you can't edit title -->

    <div class="indv-post">
      <div class="postinfo">
        <div class="posttitle"><%= @post.title %></div>
        <p>Rating: <b><%= @post.rating > 0 ? "#{@post.rating.to_f / 10} stars" : "[unrated]" %></b></p>
      </div>
    </div>

    <%= form_with model: @post, class: "post-form" do |f| %>
      <div class="field">
        <%= f.label :desc, "Description" %>
        <%= f.text_area :desc, placeholder: "Describe it in a few sentences" %>
      </div>

      <%= f.hidden_field :rating %>

      <div class="field">
        <%= f.label :tag_list, "(Optional) Tags" %>
        <span class="info">
          <%= image_tag("icons/information-line.svg", class: "info-icon") %>
          <div class="info-text">
            Tag your post so other users can find it more easily.<br>
            Tags should be separated with a comma and a space.
          </div>
        </span>

        <%= f.text_area :tag_list, placeholder: "Example: movies, star wars, science fiction" %>
      </div>

      <p>Remember to describe your topic thoroughly and neutrally.</p>

      <div class="field">
        <%= f.submit "Update Post", class: "form-submit" %>
      </div>
    <% end %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</div>
