<%= render 'shared/header' %>

<main>
  <div class="page page-index">
    <p><%= link_to new_post_path, class: "btn" do %>
      <%= image_tag("icons/pencil-fill.svg", class: "icon") %> Create Topic
    <% end %></p><br>
    <% @posts.each do |post| %>
      <div class="index-post">
        <div class="postinfo">
          <%= link_to post, class: "link postlink" do %>
            <%= post.title %> | <%= Post.readablerating(post.id) %>
          <% end %>
          <p>by user <%= link_to User.find(post.user_id).username, user_path(User.find(post.user_id).username), class: "link" %></p>
          <p><%= pluralize(post.reviews.count, 'review') %> so far</p>
        </div>

        <div class="side-btn">
          <%= link_to "#{post_path(post.id)}#new-review", class: "btn" do %>
            <%= image_tag("icons/star-half-fill.svg", class: "icon") %> Review
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %> <!-- render render render render render -->
  </div>
</main>
