<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page list">
    <p><%= link_to new_post_path, class: "btn nodecor" do %>
      <%= image_tag("icons/fill/pencil-fill.png", class: "icon") %> Create Topic
    <% end %></p><br>
    <% @posts.each do |f| %>
      <div class="post">
        <div class="postinfo">
          <%= link_to "#{f.title} | #{f.rating.to_f / 10} stars", f, :class => "postlink" %>
          <p>by user <%= link_to User.find(f.user_id).username, user_path(User.find(f.user_id).username), class: "userproflink" %></p>
          <p><%= pluralize(f.reviews.count, 'review') %> so far</p>
        </div>
        <div class="reviewbtn">
          <%= link_to "#{post_path(f.id)}#reviewform", class: "btn nodecor smallbutton" do %>
            <%= image_tag("icons/fill/star-half-fill.png", class: "icon") %> Review
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %> <!-- render render render render render -->
  </div>
</div>
