<%= render 'shared/header' %>

<main>
  <div class="page page-index">
    <div class="top-bar">
      <%= link_to new_post_path, class: "btn" do %>
        <%= image_tag("icons/pencil-fill.svg", class: "icon") %> Create Topic
      <% end %>

      <div class="dropdown">
        <%= check_box_tag :dropdowntoggle %>
        <%= label_tag :dropdowntoggle do %>
          Newest <%= image_tag("icons/arrow-drop-right-line.svg", class: "icon dropdown-icon") %>
        <% end %>
        <div class="dropdown-content">
          <%= link_to "New", posts_path(:sort => "new") %>
          <%= link_to "Top", posts_path(:sort => "top") %>
          <%= link_to "Popular", posts_path(:sort => "popular") %>
          <%= link_to "Most Reviews", posts_path(:sort => "most_reviews") %>
          <%= link_to "Unrated", posts_path(:sort => "unrated") %>
        </div>
      </div>
    </div>
    <% @posts.each do |post| %>
      <div class="index-post">
        <div class="postinfo">
          <%= link_to post, class: "link postlink" do %>
            <%= post.title %> | <%= post.readablerating %>
          <% end %>
          <p><%= link_to post.user.username, user_path(post.user.username), class: "link" %></p>
          <p><%= pluralize(post.review_count, 'review') %> so far</p>
        </div>

        <div class="side-btn">
          <!-- probably not the best way to do this, but I can't think of a better one. -->
          <% user_review = post.reviews.find_by(user_id: user_signed_in? ? current_user.id : nil) %>
          <% if user_review != nil %>
            <%= link_to "You rated this topic on #{user_review.created_at.strftime("%Y-%m-%d")}", user_review, class: "small-info root-review-info" %>
            <%= render 'shared/stars', rating: user_review.rating / 10 %>
            <%= truncate(user_review.title, length: 30) %>
          <% else %>
            <%= link_to "#{post_path(post)}#new-review", class: "btn" do %>
              <%= image_tag("icons/star-half-fill.svg", class: "icon") %> Review
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %> <!-- render render render render render -->
  </div>
</main>
