<p><%= link_to "New post", new_post_path %><p>
<% @posts.each do |f| %>
  <div>
    <h2><%= link_to f.title, post_path(f.id), class: "postlink" %> | <%= f.rating.to_f / 10 %> stars</h2>
    <p>by user <%= link_to User.find(f.user_id).username, user_path(f.user_id), class: "userproflink" %></p>
    <p><%= pluralize(f.reviews.count, 'review') %> so far</p>
  </div>
<% end %>
