<div class="maincontainer">
  <div class="page form">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), posts_path %>

    <h2>New topic</h2>
    <p>Create a topic to be reviewed. Make sure to describe it neutrally as to not influence reviews.</p>

    <%= form_with model: @post, url: "/posts", class: "post-form" do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Name your topic" %>
      </div>

      <div class="field">
        <%= f.label :desc, "Description" %><br>
        <%= f.text_area :desc, placeholder: "Describe it in a few sentences" %>
      </div>

      <%= f.hidden_field :rating, value: -1 %>

      <div class="field">
        <%= f.label :tag_list, "(Optional) Tags" %>
        <span class="info">
          <%= image_tag("icons/information-line.svg", class: "info-icon") %>
          <div class="info-text">
            Tag your post so other users can find it more easily.<br>
            Tags should be separated with a comma and a space.
          </div>
        </span>

        <%= f.text_area :tag_list, placeholder: "Example: movies, star wars, science fiction" %>
      </div>

      <div class="field">
        <%= f.submit "Create Topic", class: "form-submit" %>
      </div>
    <% end %>
  </div>
</div>
