<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page index">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), posts_path, class: "back-btn" %>

    <%= params[:query] %>

    <% @posts.each do |f| %>
      <div class="post">
        <div class="postinfo">
          <%= link_to f, class: "postlink" do %>
            <%= f.title %> | <%= f.rating > 0 ? "#{f.rating.to_f / 10} stars" : "[unrated]" %>
          <% end %>
          <p>by user <%= link_to User.find(f.user_id).username, user_path(User.find(f.user_id).username), class: "userproflink" %></p>
          <p><%= pluralize(f.reviews.count, 'review') %> so far</p>
        </div>
        <div class="side-btn">
          <%= link_to "#{post_path(f.id)}#newreview-form", class: "btn" do %>
            <%= image_tag("icons/star-half-fill.svg", class: "icon") %> Review
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
