<%= render 'shared/header' %>

<main>
  <div class="page show">
    <%= render 'shared/back' %>

    <%= render @post %>

    <!-- maybe wrap this in a fieldset -->
    <div class="review-form-wrapper" id="new-review"> <!-- id is for link (posts/:id#newreview-form) -->
      <%= render 'reviews/new_review', path: post_reviews_path(@post, @review), submit_msg: "Add Review" %>
    </div>

    <div class="post_reviews list">
      <% if @reviews.count == 0 %>
        No reviews on this post yet. Be the first to tell the world what you think!
      <% else %>
        <h3><%= pluralize(@reviews.count, 'review') %></h3>
        <%= render @reviews %>
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</main>
