<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page show">
    <%= link_to image_tag("icons/fill/arrow-go-back-fill.png"), posts_path %>

    <div class="indv_post">
      <div class="postinfo">
        <div class="posttitle"><%= @post.title %></div>
        <p>Rating: <b><%= @post.rating.to_f / 10 %> stars</b> | Posted by user <%= link_to @user.username, @user, class: "userproflink" %></p>
        <p><%= @post.desc %></p>
      </div>
      <div class="editpostbtn">
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <%= link_to edit_post_path, class: "btn" do %>
            <%= image_tag("icons/fill/edit-2-fill.png", class: "icon") %> Edit
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="newreview"><%= render 'reviews/new' %> <!-- form.newreview --></div>

    <div class="post_reviews list">
      <% @reviews.each do |f| %>
        <%= render 'reviews/show', review: f %>
      <% end %>

      <% if @post.reviews.count == 0 %>
        No reviews on this post yet. Be the first to tell the world what you think!
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</div>
