<%= render 'shared/header' %>

<main>
  <div class="page show">
    <%= render 'shared/back' %>

    <%= render @post %>

    <hr>

    <!-- maybe wrap this in a fieldset -->
    <div class="review-form-wrapper new-review-form-wrapper" id="new-review"> <!-- id is for link (posts/:id#newreview-form) -->
      <%= render 'reviews/new_review' %>
    </div>

    <hr><br>

    <div class="post_reviews list">
      <% if @reviews.count == 0 %>
        No reviews on this post yet. Be the first to tell the world what you think!
      <% else %>
        <h3><%= pluralize(@reviews.count, 'review') %></h3>
        <%= render @reviews %>
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <h2>Stats for this post</h2>

    <p>Posted on <%= @post.created_at.strftime("%B %-d, %Y") %></p>

    <% for i in 1..5 %>
      <%= 6-i %>-star: <progress value="<%= Post.stats(@post.id,6-i) %>" max="100"></progress> <%= Post.stats(@post.id,6-i) %>%<br>
    <% end %>
  </div>
</main>
