<div class="review-form-wrapper edit-review-form-wrapper">
  <%= form_with url: review_path(@review), model: @review, class: "edit-review-form" do |f| %>
    <%= f.label :rating, "Rating" %>
    <div class="ratinginput"></div>
    <%= f.hidden_field :rating %>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "A brief summary of your review" %>

    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, rows: "4", placeholder: "Write your review of the topic here..." %>
    <div class="charcount">0/2000</div>

    <%= f.submit "Save Review" %>
    <%= link_to "Cancel", "#", remote: true, class: "cancel-edit-review-btn" %>
  <% end %>
  <h3 class="reviewheader">Edit your review</h3>
</div>
