<%= javascript_pack_tag 'review' %>

<% if user_signed_in? %>
  <%= form_with url: path, model: @review, class: "new-review-form" do |f| %>
    <div class="field">
      <%= f.label :rating, "Rating" %>
      <div class="ratinginput"></div>
      <%= f.hidden_field :rating %>
    </div>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: "A brief summary of your review" %>
    </div>

    <div class="field">
      <%= f.label :desc, "Description" %><br>
      <%= f.text_area :desc, rows: "4", placeholder: "Write your review of the topic here..." %>
      <div class="charcount">0/2000</div>
    </div>

    <div class="actions">
      <%= f.submit submit_msg %>
    </div>
  <% end %>
  <h3 class="reviewheader">Write a review</h3>
<% else %>
  <p><%= link_to "Sign in", new_user_session_path, class: "textlink" %> to leave a review</p>
<% end %>
