<%= javascript_pack_tag 'review' %>

<% if user_signed_in? %>
  <%= form_with url: post_reviews_path(@post, @review), model: @review, class: "new-review-form" do |f| %>

    <%= f.label :rating, "Rating" %>
    <div class="ratinginput"></div>
    <%= f.hidden_field :rating %>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "A brief summary of your review" %>

    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, rows: "4", placeholder: "Write your review of the topic here..." %>
    <div class="charcount">0/2000</div>

    <%= f.submit "Add Review" %>

    <h3 class="reviewheader">Write a review</h3>
  <% end %>

<% else %>
  <p><%= link_to "Sign in", new_user_session_path, class: "textlink" %> to leave a review</p>
<% end %>
