<div class="review" id="review-<%= review.id %>">
  <div class="review-info-line">
    <b><%= review.title %></b>
    <%= render 'shared/stars', rating: review.rating / 10 %>
    <%= link_to User.find(review.user_id).username, user_path(User.find(review.user_id).username), class: "userproflink" %>
  </div>

  <p><%= review.desc %></p>
  <p>(score)
    <% if user_signed_in? %>
      | <%= link_to image_tag("icons/reply-fill.svg", class: "icon"), new_review_reply_path(review), remote: true %>
      <% if review.user_id == current_user.id %>
        | <%= link_to image_tag("icons/edit-2-fill.svg", class: "icon"), edit_review_path(review), remote: true %>
        | <%= link_to image_tag("icons/delete-bin-fill.svg", class: "icon"), review_path(review), method: :delete, data: { confirm: "Delete this review?" } %>
      <% end %>
    <% end %>
  </p>

  <% if review.replies.any? %>
    <input type="checkbox" id="repliestoggle-<%= review.id %>" class="repliestoggle">
    <label for="repliestoggle-<%= review.id %>">
      <%= image_tag("icons/arrow-down-s-fill.svg", class: "icon") %>
      <b><%= pluralize(review.replies.count, 'reply') %></b>
    </label>
  <% end %>

  <div class="replies-wrapper">
    <div class="reply new-reply-wrapper"></div><!-- empty until reply btn is clicked -->

    <%= render review.replies.page(1).per(2) %>
  </div>
</div>
