<div class="review" id="review-<%= review.id %>">
  <div class="comment-info-line">
    <b><%= review.title %></b>
    <%= render 'shared/stars', rating: review.rating / 10 %>
  </div>

  <div class="comment-info-line small-info review-info">
    <%= link_to review.user.username, user_path(review.user.username), class: "link" %>
    <i><%= time_ago_in_words(review.created_at) %> ago</i>
  </div>

  <p><%= review.desc %></p>

  <div class="comment-info-line small-info">
    <span class="likes-count review-helpful-count" id="review-<%= review.id %>-helpful-count">
      <%= review.votes.where(value: 2).count %>
    </span>
    <%= 'person'.pluralize(review.votes.where(value: 2).count) %> found this review helpful
    <span class="likes-count review-funny-count" id="review-<%= review.id %>-funny-count">
      <%= review.votes.where(value: 3).count %>
    </span>
    <%= 'person'.pluralize(review.votes.where(value: 3).count) %> found this review funny
  </div>

  <div class="comment-info-line">
    <% if user_signed_in? %>
      <div class="votes-container review-votes-container">
        <% if !review.votes.exists?(user_id: current_user.id, value: 2) %>
          <%= vote_btn(2, review) %>
        <% else %>
          <%= unvote_btn(review.votes.find_by(user_id: current_user.id, value: 2)) %>
        <% end %>
        <% if !review.votes.exists?(user_id: current_user.id, value: 3) %>
          <%= vote_btn(3, review) %>
        <% else %>
          <%= unvote_btn(review.votes.find_by(user_id: current_user.id, value: 3)) %>
        <% end %>
      </div>
      <%= link_to "Reply", new_review_reply_path(review), remote: true, class: "link" %>
      <% if review.user_id == current_user.id %>
        <%= link_to image_tag("icons/edit-2-fill.svg", class: "icon"), edit_review_path(review), remote: true %>
        <%= link_to image_tag("icons/delete-bin-fill.svg", class: "icon"), review, method: :delete, data: { confirm: "Delete this review?" } %>
      <% end %>
    <% else %>
      <%= fake_like_btn %>
    <% end %>
  </div>

  <% if review.replies.any? %><br>
    <input type="checkbox" id="repliestoggle-<%= review.id %>" class="repliestoggle">
    <label for="repliestoggle-<%= review.id %>">
      <%= image_tag("icons/arrow-down-s-fill.svg", class: "icon") %>
      <b class="noselect"><%= pluralize(review.replies.count, 'reply') %></b>
    </label>
  <% end %>

  <div class="replies-wrapper">
    <div class="reply new-reply-wrapper"></div><!-- empty until reply btn is clicked -->

    <%= render review.replies.page(1).per(2) %>

    <% if review.replies.any? && !review.replies.page(1).per(2).last_page? %>
      <div class="show-more-link">
        <%= link_to "Show more", review_replies_path(review, page: 2), remote: true, class: "link" %>
      </div>
    <% end %>
  </div>
</div>
