<div class="review">
  <p><b><%= review.title %></b> | <%= pluralize(review.rating / 10, 'star') %> | <%= link_to User.find(review.user_id).username, user_path(User.find(review.user_id).username), class: "userproflink" %></p>
  <p><%= review.desc %></p>
  <p>(score)
    <% if user_signed_in? && review.user_id == current_user.id %>
      | <%= link_to image_tag("icons/edit-2-fill.svg", class: "icon"), "", data: { confirm: "This doesn't do anything yet" } %> | <%= link_to image_tag("icons/delete-bin-fill.svg", class: "icon"), post_review_path(@post, review), method: :delete, data: { confirm: "Delete this review?" } %>
    <% end %>
  </p>
</div>
