<%= render 'shared/header' %>

<%= javascript_pack_tag 'review' %>

<main>
  <div class="page show">
    <%= render 'shared/back' %>

    <%= render @post %>

    <div class="newreview-form">
      <%= render 'reviews/form', path: post_review_path(@post, @review), submit_msg: "Save Review" %>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</main>
