<%= render 'shared/header' %>

<%= javascript_pack_tag 'review' %>

<main>
  <div class="page show">
    <%= render 'shared/back' %>

    <%= render @post %>

    <div class="newreview-form">
      <%= form_with url: post_review_path(@post, @review), model: @review do |f| %>
        <div class="field">
          <%= f.label :rating, "Rating (0-5)" %>
          <div class="ratinginput"></div>
          <%= f.hidden_field :rating %>
        </div>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, placeholder: "A brief summary of your review" %>
        </div>

        <div class="field">
          <%= f.label :desc, "Description" %><br>
          <%= f.text_area :desc, rows: "4", placeholder: "Write your review of the topic here..." %>
          <div class="charlimit">0/2000</div>
        </div>

        <div class="actions">
          <%= f.submit "Add Review" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</main>
