<%= render 'shared/header' %>

<main>
  <div class="page show">
    <%= render 'shared/back' %>

    <%= render @post %>

    <div class="post_reviews list">
      <h3>Showing single review. <%= link_to "See all reviews", @post, class: "textlink" %></h3>
      <%= render @showreview %>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</main>
