<!DOCTYPE html>
<html>
  <head>
    <title>Sezme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BNQ67PY52H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BNQ67PY52H');
    </script>
  </head>

  <body>
    <div class="header">
      <span style="float:left">
        <%= link_to "Sezme", posts_path, class: "logo" %> |
        <%= link_to "About", "pages/about", class: "nodecor" %>
      </span>

      <!-- lord forgive me, but... -->
      <% if user_signed_in? %>
        Currently signed in as: <%= current_user.username %> |
        <%= link_to image_tag("icons/fill/account-circle-fill.png", class: "icon"), user_path(current_user.username) %> |
        <%= link_to image_tag("icons/fill/settings-3-fill.png", class: "icon"), edit_user_registration_path %> |
        <%= link_to image_tag("icons/fill/logout-box-fill.png", class: "icon"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "nodecor" %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
